
<table class="table">
    <thead>
    <tr>
        <th>PO NUmber</th>
        <th>Ship Date</th>
        <th>Item Name</th>
        <th>Package Type</th>
        <th>Item Brand</th>
        <th>Item Group</th>
        <th>Velocity per Week</th>
        <th>Quantity</th>
        <th>On-Hand Units in pallets</th>
        <th>On-Order Days Total</th>
        <th>Projected DOI Total</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    </tbody>
</table>