{{week-switcher week=week route='wholesaler-dashboard' ds=targetUserId}}

<h1>Wholesaler Dashboard</h1>

{{table-view data=totals columns=totalColumns}}

{{table-view data=model columns=transactionColumns}}
